*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    background: #ddd6d6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    border: 2px solid #3D68BB;
    border-radius: 10px;
    padding: 20px;
    background: #BFD1E5;
    max-width: 450px;
    min-height: 200px;
    text-align: center;
    color: #3D68BB;
    margin-top: 10px;
}

header, img{
    width: 90%;
}

.play_pokemon {
    display: flex;
    font-weight: 400;
    background-color: #FAC705;
    max-width: 600px;
    min-height: 200px;
    text-align: center;
    border-radius: 2%;
    border: solid 5px #3D68BB;
    color: #3D68BB;    
}

main{
    display: grid;
    justify-items: center;
    width: 40%;
    margin: 10px;   
}

label {
    font-size: 2rem;
}

input {
    background-color: #ffffff;    
    cursor: pointer;
    height: 35px;
    font-size: 1rem;
    color: #3D68BB;
}

button {
    background-color: #3D68BB;    
    cursor: pointer;
    width: 100%;
    height: 35px;
    margin: 10px;
    font-size: 1rem;
    color: #fff
}

#poke_img{
    display: flex;
    background-color: #BFD1E5;
    border: solid #3D68BB;
    border-radius: 5%; 
    width: 122%;        
}

#poke_info{
    background-color: #BFD1E5;
    border: solid #3D68BB;
    border-radius: 5%;
    font-size: 2rem;
    color: #3D68BB;
    width: 122%;
}